@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Parisienne&family=Poppins:wght@200;300;400;500;600;700&family=Roboto&display=swap");

* {
  font-family: Poppins;
}
/*****************************/
/* HOME NAVBAR BUTTONS STYLE */
/*****************************/

.login-buttons {
  position: absolute;
  right: 2%;
  top: 0;
  padding-top: 8px;
  font-size: 14px;
}

.btn-primary {
  background: linear-gradient(
    150deg,
    rgba(31, 179, 237, 1) 10%,
    rgba(17, 106, 197, 1) 90%
  );
  color: #fff;
  padding: 11px 16px;
  border: none;
  border-radius: 50px;
}

.btn-primary:hover {
  background: linear-gradient(
    120deg,
    rgba(31, 179, 237, 0.9) 10%,
    rgba(17, 106, 197, 0.9) 90%
  );
}

.btn-outline-secondary {
  background-color: #ffffff;
  border: 0;
  border-radius: 2rem;
  box-sizing: border-box;
  color: rgb(90, 90, 90);
  font-weight: 500;
  padding: 0.76rem 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.btn-outline-secondary:hover {
  background-color: rgb(249, 250, 251);
  transition: all 0.2s linear;
}

.btn-outline-secondary:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/*****************************/
/* FORM CONTROL STYLE */
/*****************************/

.form-input {
  color: #495057;
  background-color: #f2f2f2;
  display: block;
  width: 100%;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 2rem;
}

.form-input::placeholder {
  color: #b3b9c0;
  font-size: 15px;
}

.form-btn-primary {
  display: block;
  width: 100%;
  margin-top: 2rem;
}

/*.form-grp:focus-within input {
}*/

/*****************************/
/* FORM SUBCARD STYLE */
/*****************************/

.container {
  position: relative;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.bg-primary {
  width: 100%;
  background: linear-gradient(
    120deg,
    rgba(31, 179, 237, 0.9) 10%,
    rgba(17, 106, 197, 0.9) 90%
  );
}

.bg-secondary {
  background: linear-gradient(
    130deg,
    rgba(246, 191, 13, 1) 0%,
    rgba(249, 47, 47, 1) 150%
  );
}

.subcard-btn-outline {
  position: relative;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 22px;
  padding: 10px 20px;
  transition: all 0.2s linear;
  text-decoration: none;
}

.subcard-btn-outline:hover {
  background-color: #fff;
  color: #1383b3;
}

/*The code below still not organized*/

.flex-container {
  display: flex;
  align-items: center;
}
.title {
  flex: 1;
  position: relative;
  white-space: nowrap;
  padding-left: 80px;
  padding-bottom: 100px;
  margin-right: 50px;
}
.title h1 {
  font-weight: 600;
  font-size: 50px;
}
.title span {
  color: rgb(255, 191, 13);
}
.title p {
  margin: 00.5rem 0 1rem;
  font-family: "Arial", sans-serif;
  font-size: 20px;
}

.car-shape {
  flex: 1;
  position: relative;
  height: 100vh;
  background: url(assets/images/ford.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}
.car {
  position: relative;
  top: 50px;
  right: 0px;
  left: 0px;
  width: 750px;
}
.shape {
  position: absolute;
  right: 60px;
  height: 750px;
  width: 600px;
  border-radius: 30px 30px 0 0;
  background: linear-gradient(
    149deg,
    rgba(31, 179, 237, 1) 11.2%,
    rgba(17, 106, 197, 1) 91.1%
  );
  display: inline-block;
  vertical-align: middle;
}

.signup-button.btn.btn-primary {
  background: linear-gradient(
    160deg,
    rgba(246, 191, 13, 1) 0%,
    rgba(249, 47, 47, 1) 200%
  );
  border: 1px solid rgb(255, 191, 13);
}
/*
@media screen and (max-width: 650px) {
  
}



@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 950px) {
    
}

@media screen and (max-width: 480px) {
    
}

*/

/* BOOK CARS STYLES */

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin: 50px 30px 0 30px;
  height: 1200px;
}
.vehicle-card {
  position: relative;
  display: flex;
  justify-content: center;
  height: 335px;
  overflow: visible;
  z-index: 1;
  margin: 0 40px;
}

.vehicle-card:hover {
  z-index: 2;
  -webkit-transform: translate(0px, -10px);
  transform: translate(0, -10px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.vehicle-card .details {
  position: relative;
  height: 375px;
  width: 330px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.vehicle-card .details:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  height: 460px;
  width: 330px;
}
.vehicle-card .info {
  margin: 10px;
}
.vehicle-card .ctas {
  margin: 10px 0;
}
.thumb-gallery {
  height: 215px;
}
.thumb-gallery img {
  position: absolute;
  width: 100%;
}
.thumb-gallery img.first {
  opacity: 1;
}
.vehicle-card:hover .thumb-gallery img.second {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/*styling*/

.vehicle-card h3 {
  margin: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
}
.vehicle-card .price span {
  font-family: "Helvetica", Arial, sans-serif;
  color: #999;
  font-size: 0.75rem;
}
.vehicle-card .price h4 {
  margin: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 1.25rem;
}
.vehicle-card .specs {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  margin: 15px 0;
  padding: 10px 0;
}
.specs .spec {
  display: inline-block;
  margin-right: 10px;
}
.specs span {
  font-family: "Helvetica", Arial, sans-serif;
  color: #999;
  font-size: 0.75rem;
}
.specs p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.specs p span {
  font-size: 0.75rem;
  margin-left: 2px;
  font-weight: normal;
}
.btn-book {
  display: block;
  padding: 0 10px;
  float: left;
  font-size: 0.75rem;
  font-family: "Helvetica", Arial, sans-serif;
  text-decoration: none;
  height: 30px;
  width: 100px;
  text-align: center;
  border-radius: 2px;
  font-weight: bold;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.primary {
  background-color: #1383b3;
  color: #fff;
  margin-right: 10px;
  line-height: 30px;
}
.secondary {
  background-color: #fff;
  color: #1383b3;
  border: 2px solid #1383b3;
  line-height: 26px;
}
